body {
    margin: 0px;
    font-family: "FabrikatBold", sans-serif;
}

.head-div {
    height: 60px;
    width: 140px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.logo {
    width: 62%;
    height: 55%;
}

.header {
    width: auto;
    display: block;
    height: 60px;
}

.img_body {
    width: 100%;
    height: 400px;
    text-align: center;
    color: white;
    line-height: 400px;
    background-image:url(../../ressources/section_img.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.vert_mid{
    vertical-align:middle;
    display:inline-block;
    line-height:1.2;
    text-shadow: 0px 1px 4px black;
    font-size: 24px;
}

.vert_mid > h1 {
    font-size: 7vw;
}

.vert_mid > p {
    font-size: 3.2vw;
}

hr { 
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    border-style: solid;
}

section {
    padding-left: 2%;
    padding-right: 2%;
}

.choices {
    display: flex;
    width: 85%;
    margin: 0 auto;
}

.choices > div {
    margin-left : 3%;
    margin-right : 3%;
}

.dropdown {
    clear: both;
    height: 100%;
}

.room {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: black;
    margin-top: 1%;
    padding: 2%;
    background-color: white;
    display: inline-block;
}

.users {
    width: 33%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.75%
}

.stuff {
    float: right;
}

.users > img {
    width: 3vw;
    height: auto;
    margin-bottom: 0%
}

.rt {
    width: 4vw;
    height: 4vw;
    padding-right: 15%;
}

.room_name {
    display: inline-block;
    vertical-align: middle;
    width: 33%;
    padding-top: 0.5%;
}

.submit {
    float: right;
    margin-right: 2%;
    margin-top: 1%;
}

.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.2s ease-out;
} 
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fading-enter-active, .fading-leave-active {
    transition: opacity 0.2s ease-out;
} 
.fading-enter, .fading-leave-to {
    opacity: 0;
}

.align-description {
    clear: both;
    float: left;
}

.description > h5 {
  font-size: 2.5vw;  
}

.description > p {
    font-size: 2vw;  
}

.confirmation {
    text-align: center;
}

.confirmation > button {
    font-size: 2vw;
    border-radius: 8px;     
}

#yes {
    background-color: #167FFB;
    border-color: #167FFB;
    color: white;
}
#yes:hover {
    background-color: #2760bc;
}

#no {
    background-color: #D93749;
    border-color: #D93749;
    color: white;
}
#no:hover {
    background-color: #b21e2e;
}

.reservation-done {
    position: absolute;
    z-index: 1;
    width: 50vw;
    top: 25%;
    right: 25%;
    padding: 2vw;
    background-color: white;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
