body {
    margin: 0px;
}

.logo {
    width: auto;
    height: auto;
}

.head-div {
    height: 100%;
    width: 140px;
    background-color: black;
}

.header {
    width: auto;
    display: block;
    height: 60px;
}
