body {
    margin: 0px;
}

.head-div {
    height: 60px;
    width: 140px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.logo {
    width: 62%;
    height: 55%;
}

.header {
    width: auto;
    display: block;
    height: 60px;
}

.img_body {
    width: 100%;
    height: 400px;
    text-align: center;
    color: white;
    line-height: 400px;
    background-image:url(../../ressources/section_img.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

h1 p {
    font-family: "FabrikatBold", sans-serif;
}

.vert_mid{
    vertical-align:middle;
    display:inline-block;
    line-height:1.2;
    text-shadow: 0px 1px 4px black;
    font-size: 24px;
}

.vert_mid > h1 {
    font-size: 7vw;
}

.vert_mid > p {
    font-size: 3.2vw;
}

hr { 
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    border-style: solid;
}

section {
    padding-left: 2%;
    padding-right: 2%;
}

.choices {
    display: flex;
}

.choices > div {
    margin-left : 1%;
    margin-right : 1%;
}

option {
    display: none;
}

.dropdown {
    clear: both;
    display: block;
    height: 100%;
}